body {
	margin: 0;
	font-family: sans-serif;
	font-size: 1.5rem;
	background-color: antiquewhite;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.item {
	text-align: center;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	row-gap: 20px;
}
.col {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}
.grid-item {
	border: 1px solid black;
	text-align: center;
}
input {
	cursor: pointer;
}
button {
	font-size: 1.5rem;
	cursor: pointer;
}
.submit {
	background-color: rgb(15, 138, 15);
}
